snmf.pdf
__pycache__/
artifacts/
training_summary.log
.DS_Store
**/.DS_Store


# Secret file
.env

# vanilla_sae data and generated artifacts
snmf-mlp/data/concept_train.json
snmf-mlp/experiments/vanilla_sae/cache/
snmf-mlp/experiments/vanilla_sae/outputs/
snmf-mlp/experiments/vanilla_sae/multirun/
snmf-mlp/wandb/

# Useless folders
snmf-on-anthropic-toy-model/

# Other useless folders
snmf/toy-data-generation/__pycache__/

# miniconda file
miniconda.sh
